<!-- book_search.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Book Search</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center mb-4">Book Search</h2>

            <form method="get">
                <div class="input-group mb-3" aria-placeholder="here">
                    {{ filter.form.title}}
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
                <!-- link to filter by author -->
                <a href="{% url 'filterbyauthor' %}">Filter by Author</a>
            </form>

            
                <div class="card mb-3">
                    <div class="card-body">
                        <table>
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>ISBN</th>
                                    <th>Avialability</th>
                                    <th>Action</th>
                                    
                                </tr>
                            </thead>
                            {%for book in filter.qs%}
                            <tbody>
                                <tr>
                                    <td>{{ book.title }}</td>
                                    <td>{{ book.author }}</td>
                                    <td>{{ book.ISBN }}</td>
                                    <td>{{ book.available }}</td>
                                    <td>
                                        <!-- button to move the book to the collection -->
                                        <a href="" class="btn btn-primary">Collect</a>
                                    </td>
                                </tr>
                            </tbody>
                            {%endfor%}
                        </table>
                </div>
        
            <!-- back to library -->
            <a href="{% url 'library' %}">Back to Library</a>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
