{% extends 'base.html' %} {% block content %}

<!DOCTYPE html>
<html>
  <head>
    <title>Item List</title>
  </head>
  <body>
    <!-- <h2>List of Users</h2>
    <ul>
      {%for book in filter.qs%}
            <li>
                {{ user.username }}
                <a href="{% url 'move_user' book.id %}">Move to SelectedUser</a>
            </li>
        {% endfor %}
    </ul> -->

    <h2>Request Book: {{ book.title }}</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Request</button>
    </form>
</html>

{% endblock %} ```
