{% extends 'base.html' %} {% block content %}

<section class="about_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2><span>The Hub Library</span></h2>
      <p>Get access to all the books you need for your course.</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <h3>The students Hub</h3>
          <p>
            Welcome to our Student Portal System blog, your go-to source for all
            things related to our innovative platform designed to enhance the
            academic journey of students. As passionate advocates for education,
            we recognized the need for a centralized hub that empowers students
            with the tools they need to thrive in their academic pursuits. Our
            Student Portal System is not just a virtual space; it's a dynamic
            ecosystem that fosters collaboration, efficiency, and engagement.
          </p>
          <p>
            At the heart of our platform is a user-friendly interface that
            seamlessly integrates academic resources, communication channels,
            and administrative tools. Whether you're accessing course materials,
            submitting assignments, or connecting with fellow students and
            instructors, our Student Portal System is engineered to streamline
            your educational experience. We believe in the power of technology
            to transform education, and our blog is dedicated to keeping you
            informed about the latest updates, tips, and success stories within
            our ever-evolving student-centric ecosystem. Join us on this
            exciting journey as we redefine the way students navigate their
            academic pathways and embrace the future of learning with the
            Student Portal System.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <!-- button to access the library -->
        <div class="btn-box">
          <a href="{% url 'filterbytitle' %}" class="btn1">
            <span>Access Library</span>
          </a>

        <div class="img-box">
          <img src="" alt="No Image" />
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock %}
