<!-- templates/home.html -->

{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid vh-100" style="background-image: url('path/to/your/image.jpg'); background-size: cover;">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8 text-center">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Welcome {{ user }} to the Students Hub</h2>
            <!-- Add content specific to the home page -->
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
