<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'membersAuth/css/bootstrap.min.css' %}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>register</title>
    <style>
      /* Apply a background image to the first div *

      /* Style the second div with details */
      .body {
        background-color: rgb(181, 212, 212);
      }
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: rgb(181, 212, 212);
        width: 100%;
        border-radius: 15px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      
      <!-- <div class="img-box">
        <img
          src="{% static 'membersAuth/images/hme.jpg'%}"
          alt="No Image"
          style="border-radius: 25px;"
          height="500px"
          width="400px"
        />
      </div> -->
      <div class="second-div">
        <h2 class="text-primary">Students Hub Register</h2>
        <form method="post">
          {% csrf_token %}
          <div class="text-center">
            <strong>
              <label for="{{ form.first_name.id_for_label }}">First Name</label
            ><br />
            {{ form.first_name }}

            </strong>
            <br />
            <strong>
              <label for="{{ form.last_name.id_for_label }}">Last Name</label
            ><br />
            {{ form.last_name }}
            <br />

            </strong>

            <strong>
              <label for="{{ form.username.id_for_label }}">Username</label><br />
            {{ form.username }}

            </strong>
            
            <br />
            <strong>
              <label for="{{ form.email.id_for_label }}">Email</label> <br />
            {{ form.email }}

            </strong>

            
            <br />
            <strong>
              <label for="{{ form.password1.id_for_label }}">Password</label
            ><br />
            {{ form.password1 }}
            </strong>
            
            <br />
            <strong>
              
            <label for="{{ form.password2.id_for_label }}"
              >Confirm Password</label
            ><br />
            {{ form.password2 }}
            <br />

            </strong>
<br>
            <button type="submit" class="btn btn-primary btn-block" style="pa">
              Register
            </button>

            <!-- if the user has an account, login here -->
            <p class="text-center mt-3">
              Already have an account?
              <a href="{% url 'sign_in' %}">Login</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
